<!-- 我的主页左侧的小相册 -->
<div class="card">
    <div class="card-title">相册</div>
    <div class="photo_wrap">
        <div class="photo" style="background-image:url(img/1.jpg)"></div>
        <div class="photo" style="background-image:url(img/2.jpg)"></div>
        <div class="photo" style="background-image:url(img/3.jpg)"></div>
        <div class="photo" style="background-image:url(img/4.jpg)"></div>
        <div class="photo" style="background-image:url(img/5.jpg)"></div>
        <div class="photo" style="background-image:url(img/6.jpg)"></div>
    </div>
    <a href="javascript:;" class="card-more">查看更多</a>
</div>
