<!-- 首页左侧的tab -->
<div class="left_nav_group">
    <div class="lev_box on">
        <h3 class="lev">
            <a href="#" class="s_txt1">
                <span class="lev_txt">首页</span>
                <i class="W_new"></i>
            </a>
        </h3>
    </div>
    <div class="lev_box">
        <h3 class="lev">
            <a href="#" class="s_txt1">
                <span class="lev_txt">评论</span>
                <i class="W_new"></i>
            </a>
        </h3>
    </div>
    <div class="lev_box">
        <h3 class="lev">
            <a href="#" class="s_txt1">
                <span class="lev_txt">收藏</span>
                <i class="W_new"></i>
            </a>
        </h3>
    </div>
    <div class="lev_box">
        <h3 class="lev">
            <a href="#" class="s_txt1">
                <span class="lev_txt">赞</span>
                <i class="W_new"></i>
            </a>
        </h3>
    </div>                                                                                  
</div>