<!-- 首页右侧点赞榜 -->
<div class="card card_padding">
    <div class="limits time_limits">
        <a href="javascript:;" class="limits_btn">
            <span class="limits_txt">全部</span>
            <em class="arrow"></em>
            <ul class="limits_list">
                <li class="limits_item">全部</li>
                <li class="limits_item">本周</li>
                <li class="limits_item">今日</li>
            </ul>
        </a>
    </div>
    <h2 class="card_title">点赞榜</h2>
    <ul class="praise">
        <li class="praise_item">
            <div class="praise_rank">1</div>
            <div class="praise_num">
                <i class="iconfont">&#xe601;</i>
                <i>65</i>
            </div>
            <div class="praise_name">五行属二</div>
            <div class="praise_txt">最近养了一只猫，叫小狐狸，一个谜样の美少年……</div>
        </li>
        <li class="praise_item">
            <div class="praise_rank">2</div>
            <div class="praise_num">
                <i class="iconfont">&#xe601;</i>
                <i>60</i>
            </div>
            <div class="praise_name">五行属二</div>
            <div class="praise_txt">最近养了一只猫，叫小狐狸，一个谜样の美少年……</div>
        </li>
        <li class="praise_item">
            <div class="praise_rank">3</div>
            <div class="praise_num">
                <i class="iconfont">&#xe601;</i>
                <i>20</i>
            </div>
            <div class="praise_name">五行属二</div>
            <div class="praise_txt">最近养了一只猫，叫小狐狸，一个谜样の美少年……</div>
        </li>
        <li class="praise_item">
            <div class="praise_rank">4</div>
            <div class="praise_num">
                <i class="iconfont">&#xe601;</i>
                <i>6</i>
            </div>
            <div class="praise_name">五行属二</div>
            <div class="praise_txt">最近养了一只猫，叫小狐狸，一个谜样の美少年……</div>
        </li>
        <li class="praise_item">
            <div class="praise_rank">5</div>
            <div class="praise_num">
                <i class="iconfont">&#xe601;</i>
                <i>1</i>
            </div>
            <div class="praise_name">五行属二</div>
            <div class="praise_txt">最近养了一只猫，叫小狐狸，一个谜样の美少年……</div>
        </li>
    </ul>
</div>