<!-- 首页右侧的个人信息板块 -->
<div class="card">
    <div class="right_userInfo">
        <div class="skin_cover">
            <div class="user_icon" style="background-image: url(img/4.jpg);"></div>
        </div>
        <div class="user_innerWrap">
            <div class="namebox">Admin</div>
            <ul class="user_atten">
                <li class="s_line1">
                    <a href="#">
                        <strong>12</strong>
                        <span class="s_txt2">关注</span>
                    </a>
                </li>
                <li class="s_line1">
                    <a href="#">
                        <strong>3</strong>
                        <span class="s_txt2">分享</span>
                    </a>
                </li>                               
                <li class="s_line1">
                    <a href="#">
                        <strong>235</strong>
                        <span class="s_txt2">粉丝</span>
                    </a>
                </li>                           
            </ul>
        </div>
    </div>
</div>
