<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title><{$smarty.session.USERDATA.username}>的主页</title>
    <link rel="stylesheet" type="text/css" href="<{$smarty.const.PATH_CSS}>/base.css">
    <link rel="stylesheet" type="text/css" href="<{$smarty.const.PATH_CSS}>/comm.css">
    <link href='http://www.youziku.com/webfont/NameCSS/46768' rel='stylesheet' type='text/css'/>
</head>
<body>
    <!-- 主导航 -->
    <div class="blog_header">
        <div class="content clearfix">
            <!-- logo -->
            <a class="logo" href="##"></a>
            <!-- 搜索栏 -->
            <div class="search">
                <input type="text" autocomplete="off" class="w_input" placeholder="大家都在搜：谁日了赵日天">
                <a href="javascript:;" class="icon_search"></a>
            </div>
            <a class="nav_publish" title="发布" href="javasctipt:;"></a>
            <!-- 功能项 -->
            <i class="nav_item on" href="">
                <{$smarty.session.USERDATA.username}>
                <ul class="limits_list">
                    <li class="limits_item">个人主页</li>
                    <li class="limits_item">我的消息</li>
                    <li class="limits_item">退出登录</li>
                </ul>
            </i>
            <a class="nav_item" href="">首页</a>
        </div>
    </div>

    <div class="blog">
        <div class="content">
            <div class="mine">
                <div class="mine_avatar" style="background-image:url(<{$smarty.const.PATH_IMG}>/name0019.jpg)"></div>
                <div class="mine_name"><{$smarty.session.USERDATA.username}></div>
            </div>
            <div class="content-row">
                <ul class="content-col content-col-1 card mine_nav">
                    <li class="on">
                        <a href="">我的主页</a>
                    </li>
                    <li>
                        <a href="album.html">我的相册</a>
                    </li>
                </ul>
            </div>
            <div class="content-row">
                <div class="content-col content-col-1">
                    <nav class="card info_nav">
                        <a href="javascript:;">
                            <span class="info_num"><{$count['focus']}></span>
                            <span>关注</span>
                        </a>
                        <a href="javascript:;">
                            <span class="info_num"><{$count['fans']}></span>
                            <span>粉丝</span>
                        </a>
                        <a class="on" href="javascript:;">
                            <span class="info_num"><{$count['share']}></span>
                            <span>分享</span>
                        </a>
                    </nav>
                    <div class="card">
                        <div class="card-title">相册</div>
                        <div class="photo_wrap">
                        <{foreach $pics as $imgName}>
                            <div class="photo" style="background-image:url(<{$picPath}><{$imgName}>)"></div>
                        <{/foreach}>
                        <{* smarty注释掉的内容不会出现在替换后的文件中
                            <div class="photo" style="background-image:url(<{$smarty.const.PATH_IMG}>/1.jpg)"></div>
                            <div class="photo" style="background-image:url(<{$smarty.const.PATH_IMG}>/2.jpg)"></div>
                            <div class="photo" style="background-image:url(<{$smarty.const.PATH_IMG}>/3.jpg)"></div>
                            <div class="photo" style="background-image:url(<{$smarty.const.PATH_IMG}>/4.jpg)"></div>
                            <div class="photo" style="background-image:url(<{$smarty.const.PATH_IMG}>/5.jpg)"></div>
                            <div class="photo" style="background-image:url(<{$smarty.const.PATH_IMG}>/6.jpg)"></div>
                        *}>
                        </div>
                        <a href="javascript:;" class="card-more">查看更多</a>
                    </div>
                </div>
                <div class="content-col content-col-2">
                    <div class="card">
                        <h2 class="card-title">全部粉丝 <span><{$count['fans']}></span></h2>
                        <ul class="follow_list">
                        <{foreach $data as $one}>
                            <li class="follow_item">
                                <div class="follow_avatar" style="background-image:url(<{$smarty.const.PATH_IMG}>/pw.jpg)"></div>
                            <{if $one['correlated'] == 1}>
                                <div class="follow_content">
                                    <h3 class="follow_name">
                                        <a href="##"><{$one['username']}></a>
                                        <span>(互相关注)</span>
                                    </h3>
                                    <a class="unfollow" href="javascript:;">取消关注</a>
                                </div>
                            <{elseif $one['correlated'] == 0}>
                                <div class="follow_content">
                                    <h3 class="follow_name">
                                        <a href="##"><{$one['username']}></a>
                                        <span>(未关注)</span>
                                    </h3>
                                    <a class="unfollow" href="javascript:;">关注</a>
                                </div>
                            <{/if}>
                        <{/foreach}>
                        <{* 以下内容注释
                            <li class="follow_item">
                                <div class="follow_avatar" style="background-image:url(<{$smarty.const.PATH_IMG}>/pw.jpg)"></div>
                                <div class="follow_content">
                                    <h3 class="follow_name">
                                        <a href="##">PingWest品玩</a>
                                        <span>(已互相关注)</span>
                                    </h3>
                                    <a class="unfollow" href="javascript:;">取消关注</a>
                                </div>
                            </li>
                            <li class="follow_item">
                                <div class="follow_avatar" style="background-image:url(<{$smarty.const.PATH_IMG}>/pw.jpg)"></div>
                                <div class="follow_content">
                                    <h3 class="follow_name">
                                        <a href="##">PingWest品玩</a>
                                        <span>(已互相关注)</span>
                                    </h3>
                                    <a class="unfollow" href="javascript:;">取消关注</a>
                                </div>
                            </li>
                            <li class="follow_item">
                                <div class="follow_avatar" style="background-image:url(<{$smarty.const.PATH_IMG}>/pw.jpg)"></div>
                                <div class="follow_content">
                                    <h3 class="follow_name">
                                        <a href="##">PingWest品玩</a>
                                        <span>(未关注)</span>
                                    </h3>
                                    <a class="unfollow" href="javascript:;">关注</a>
                                </div>
                            </li>
                        *}>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div>
        <{* 前端不需要$page *}>
        <{$page}>
    </div>

    <script>
        var json_data='<{$list}>';
    </script>
</body>
</html>
