<{extends file='../Layout/home.html'}>

<{block name=title}><{$userinfo['username']}>的粉丝<{/block}>

<{block name=style}>
    <link rel="stylesheet" type="text/css" href="<{$smarty.const.PATH_CSS}>/base.css">
    <link rel="stylesheet" type="text/css" href="<{$smarty.const.PATH_CSS}>/comm.css">
    <style>
        @font-face {
          font-family: 'iconfont';
          src: url('<{$smarty.const.PATH_FONT}>/iconfont.eot'); /* IE9*/
          src: url('<{$smarty.const.PATH_FONT}>/iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
          url('<{$smarty.const.PATH_FONT}>/iconfont.woff') format('woff'), /* chrome、firefox */
          url('<{$smarty.const.PATH_FONT}>/iconfont.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
          url('<{$smarty.const.PATH_FONT}>/iconfont.svg#iconfont') format('svg'); /* iOS 4.1- */
        }
    </style>
<{/block}>

<{block name=focusActive}>on<{/block}>
<{block name=content}>
    <div class="content-col content-col-2">
        <div class="card">
            <h2 class="card-title">全部粉丝 <span><{$count['fans']}></span></h2>
            <ul class="follow_list">
            <{foreach $data as $one}>
                <li class="follow_item">
                    <div class="follow_avatar" style="background-image:url(<{$smarty.const.PATH_IMG}>/pw.jpg)"></div>
                <{if $one['correlated'] == 1}>
                    <div class="follow_content">
                        <h3 class="follow_name">
                            <a href="##"><{$one['username']}></a>
                            <span>(互相关注)</span>
                        </h3>
                        <a class="unfollow" href="javascript:;">取消关注</a>
                    </div>
                <{elseif $one['correlated'] == 0}>
                    <div class="follow_content">
                        <h3 class="follow_name">
                            <a href="##"><{$one['username']}></a>
                            <span>(未关注)</span>
                        </h3>
                        <a class="unfollow" href="javascript:;">关注</a>
                    </div>
                <{/if}>
            <{/foreach}>
            <{* 以下内容注释
                <li class="follow_item">
                    <div class="follow_avatar" style="background-image:url(<{$smarty.const.PATH_IMG}>/pw.jpg)"></div>
                    <div class="follow_content">
                        <h3 class="follow_name">
                            <a href="##">PingWest品玩</a>
                            <span>(已互相关注)</span>
                        </h3>
                        <a class="unfollow" href="javascript:;">取消关注</a>
                    </div>
                </li>
                <li class="follow_item">
                    <div class="follow_avatar" style="background-image:url(<{$smarty.const.PATH_IMG}>/pw.jpg)"></div>
                    <div class="follow_content">
                        <h3 class="follow_name">
                            <a href="##">PingWest品玩</a>
                            <span>(已互相关注)</span>
                        </h3>
                        <a class="unfollow" href="javascript:;">取消关注</a>
                    </div>
                </li>
                <li class="follow_item">
                    <div class="follow_avatar" style="background-image:url(<{$smarty.const.PATH_IMG}>/pw.jpg)"></div>
                    <div class="follow_content">
                        <h3 class="follow_name">
                            <a href="##">PingWest品玩</a>
                            <span>(未关注)</span>
                        </h3>
                        <a class="unfollow" href="javascript:;">关注</a>
                    </div>
                </li>
            *}>
            </ul>
        </div>
    </div>
<{/block}>

<{block name=scriptglobal}>
    <script>
        var json_data='<{$list}>';
    </script>
<{/block}>