<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title><{$smarty.session.USERDATA.username}>的主页</title>
    <link rel="stylesheet" type="text/css" href="<{$smarty.const.PATH_CSS}>/base.css">
    <link rel="stylesheet" type="text/css" href="<{$smarty.const.PATH_CSS}>/comm.css">
   	<link href='http://www.youziku.com/webfont/NameCSS/46768' rel='stylesheet' type='text/css'/>
</head>
<body>
    <!-- 主导航 -->
    <div class="blog_header">
        <div class="content clearfix">
            <!-- logo -->
            <a class="logo" href="##"></a>
            <!-- 搜索栏 -->
            <div class="search">
                <input type="text" autocomplete="off" class="w_input" placeholder="大家都在搜：谁日了赵日天">
                <a href="javascript:;" class="icon_search"></a>
            </div>
            <a class="nav_publish" title="发布" href="javasctipt:;"></a>
            <!-- 功能项 -->
            <i class="nav_item on" href="">
                binbin
                <ul class="limits_list">
                    <li class="limits_item">个人主页</li>
                    <li class="limits_item">我的消息</li>
                    <li class="limits_item">退出登录</li>
                </ul>
            </i>
            <a class="nav_item" href="<{$smarty.const.__APP__}>/Index/index">首页</a>
        </div>
    </div>

    <div class="blog">
        <div class="content">
            <div class="mine">
                <div class="mine_avatar" style="background-image:url(<{$smarty.const.PATH_IMG}>/name0019.jpg)"></div>
                <div class="mine_name"><{$smarty.session.USERDATA.username}></div>
            </div>
            <div class="content-row">
	            <ul class="content-col content-col-1 card mine_nav">
	                <li class="on">
	                    <a href="">我的主页</a>
	                </li>
	                <li>
	                    <a href="">我的相册</a>
	                </li>
	            </ul>
            </div>
            <div class="content-row">
            	<div class="content-col content-col-1">
	            	<nav class="card info_nav">
	        			<a href="javascript:;">
	        				<span class="info_num"><{$count['focus']}></span>
	        				<span>关注</span>
	        			</a>
	        			<a href="javascript:;">
	        				<span class="info_num"><{$count['fans']}></span>
	        				<span>粉丝</span>
	        			</a>
	        			<a class="on" href="javascript:;">
	        				<span class="info_num"><{$count['share']}></span>
	        				<span>分享</span>
	        			</a>
	            	</nav>
                    <div class="card">
                        <div class="card-title">相册</div>
                        <div class="photo_wrap">
                        <{foreach $pics as $imgName}>
                            <div class="photo" style="background-image:url(<{$picPath}><{$imgName}>)"></div>
                        <{/foreach}>
                        <{* smarty注释掉的内容不会出现在替换后的文件中
                            <div class="photo" style="background-image:url(<{$smarty.const.PATH_IMG}>/1.jpg)"></div>
                            <div class="photo" style="background-image:url(<{$smarty.const.PATH_IMG}>/2.jpg)"></div>
                            <div class="photo" style="background-image:url(<{$smarty.const.PATH_IMG}>/3.jpg)"></div>
                            <div class="photo" style="background-image:url(<{$smarty.const.PATH_IMG}>/4.jpg)"></div>
                            <div class="photo" style="background-image:url(<{$smarty.const.PATH_IMG}>/5.jpg)"></div>
                            <div class="photo" style="background-image:url(<{$smarty.const.PATH_IMG}>/6.jpg)"></div>
                        *}>
                        </div>
                        <a href="javascript:;" class="card-more">查看更多</a>
                    </div>
            	</div>
            	<div class="content-col content-col-2">
                    <div class="cradWrap">
                        <div class="cardContent">
                            <dic class="cardIcon"></dic>
                            <article  class="cardDetail">
                                <p class="card_title">一起来吐槽</p>
                                <p class="card_text">真的猛士，敢于直面坚硬的树皮，敢于正视淋漓的鲜血</p>
                                <div class="medaiBox">
                                    <ul class="mediaPics clearfix">
                                        <li class="picItem" style="background-image: url(<{$smarty.const.PATH_IMG}>/1.jpg);"></li>
                                        <li class="picItem" style="background-image: url(<{$smarty.const.PATH_IMG}>/2.jpg);"></li>
                                        <li class="picItem" style="background-image: url(<{$smarty.const.PATH_IMG}>/3.jpg);"></li>
                                        <li class="picItem" style="background-image: url(<{$smarty.const.PATH_IMG}>/4.jpg);"></li>
                                        <li class="picItem" style="background-image: url(<{$smarty.const.PATH_IMG}>/5.jpg);"></li>
                                        <li class="picItem" style="background-image: url(<{$smarty.const.PATH_IMG}>/6.jpg);"></li>
                                        <li class="picItem" style="background-image: url(<{$smarty.const.PATH_IMG}>/7.jpg);"></li>
                                        <li class="picItem" style="background-image: url(<{$smarty.const.PATH_IMG}>/8.jpg);"></li>
                                        <li class="picItem" style="background-image: url(<{$smarty.const.PATH_IMG}>/9.jpg);"></li>
                                    </ul>
                                </div>
                                <p class="card_time">40分钟前</p>
                            </article>
                        </div>
                        <div class="pic_zoom_in">
                            <a class="iconfont pic_prev" href="javascript:;">&#xe604;</a>
                            <a class="iconfont pic_next" href="javascript:;">&#xe605;</a>
                            <img src="<{$smarty.const.PATH_IMG}>/Fairy Tail1.jpg">
                        </div>
                        <div class="cardHandle">
                            <ul class="rowLine clearfix">
                                <li class="on">
                                    <a class="row_btn" href="javascript:void(0);">
                                        <i class="iconfont">&#xe600;</i>
                                        收藏
                                        <span class="bubble bubble-add">收藏成功</span>
                                        <span class="bubble bubble-sub">取消收藏</span>
                                    </a>
                                </li>
                                <li>
                                    <a class="row_btn" href="javascript:void(0);"><i class="iconfont">&#xe602;</i> 评论 <i>1</i></a>
                                </li>                                           
                                <li>
                                    <a class="row_btn" href="javascript:void(0);"><i class="iconfont">&#xe601;</i> 赞 <i>5</i></a>
                                </li>                                                               
                            </ul>
                            <ul class="comment_list">
                                <li class="comment_item">
                                    <div class="comment_avator"></div>
                                    <div class="comment_content">
                                        <span class="comment_name">
                                            <a href="##">你好杨小米</a>
                                            回复
                                            <a href="##">@怜逐</a>
                                        </span>
                                        :
                                        <span class="comment_text">做你闺蜜嘛</span>
                                        <div class="comment_option">
                                            <span class="comment_time">39分钟前</span>
                                            <a class="comment_reply" href="javascript:;">回复</a>
                                        </div>
                                    </div>
                                </li>
                                <li class="comment_item">
                                    <div class="comment_avator"></div>
                                    <div class="comment_content">
                                        <span class="comment_name">
                                            <a href="##">你好杨小米</a>
                                            回复
                                            <a href="##">@怜逐</a>
                                        </span>
                                        :
                                        <span class="comment_text">年轻时你或许并不真正需要闺蜜，年华大好，青春扑面而来，光一个恋爱就够忙活几年。过了30你再看，那些为爱情断了友情的姑娘，守在无涯等待中，哭成一朵雨天的花。爱情让你流下的泪，友情帮你擦干它。真正的姐妹，比恋人更能天长地久。最好的闺蜜，是你的另一个自己—苏岑。</span>
                                        <div class="comment_option">
                                            <span class="comment_time">39分钟前</span>
                                            <a class="comment_reply" href="javascript:;">回复</a>
                                        </div>
                                        <div class="comment_reply_box clearfix">
                                            <textarea placeholder="回复@怜逐" rows="2"></textarea>
                                            <a href="javascript:;">评论</a>
                                        </div>
                                    </div>
                                </li>
                                <li class="comment_item">
                                    <div class="comment_avator"></div>
                                    <div class="comment_content">
                                        <span class="comment_name">
                                            <a href="##">你好杨小米</a>
                                            回复
                                            <a href="##">@怜逐</a>
                                        </span>
                                        :
                                        <span class="comment_text">做你闺蜜嘛</span>
                                        <div class="comment_option">
                                            <span class="comment_time">39分钟前</span>
                                            <a class="comment_reply" href="javascript:;">回复</a>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>   
                </div>
            </div>
        </div>
    </div>
    <div>
        <{* 前端不需要$page *}>
        <{$page}>
    </div>

    <script>
        var json_data='<{$list}>';
    </script>
</body>
</html>
