<{extends file='../Layout/home.html'}>

<{block name=title}><{$userinfo['username']}>的主页<{/block}>

<{block name=style}>
    <link rel="stylesheet" type="text/css" href="<{$smarty.const.PATH_CSS}>/base.css">
    <link rel="stylesheet" type="text/css" href="<{$smarty.const.PATH_CSS}>/comm.css">
    <style>
        @font-face {
          font-family: 'iconfont';
          src: url('<{$smarty.const.PATH_FONT}>/iconfont.eot'); /* IE9*/
          src: url('<{$smarty.const.PATH_FONT}>/iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
          url('<{$smarty.const.PATH_FONT}>/iconfont.woff') format('woff'), /* chrome、firefox */
          url('<{$smarty.const.PATH_FONT}>/iconfont.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
          url('<{$smarty.const.PATH_FONT}>/iconfont.svg#iconfont') format('svg'); /* iOS 4.1- */
        }
    </style>
<{/block}>

<{block name=shareActive}>on<{/block}>
<{block name=content}>
    <div class="content-col content-col-2">
        <div class="cardWrap">
            <div class="cardContent">
                <dic class="cardIcon"></dic>
                <article  class="cardDetail">
                    <p class="card_title">一起来吐槽</p>
                    <p class="card_text">真的猛士，敢于直面坚硬的树皮，敢于正视淋漓的鲜血</p>
                    <div class="medaiBox">
                        <ul class="mediaPics clearfix">
                            <li class="picItem" style="background-image: url(<{$smarty.const.PATH_IMG}>/1.jpg);"></li>
                            <li class="picItem" style="background-image: url(<{$smarty.const.PATH_IMG}>/2.jpg);"></li>
                            <li class="picItem" style="background-image: url(<{$smarty.const.PATH_IMG}>/3.jpg);"></li>
                            <li class="picItem" style="background-image: url(<{$smarty.const.PATH_IMG}>/4.jpg);"></li>
                            <li class="picItem" style="background-image: url(<{$smarty.const.PATH_IMG}>/5.jpg);"></li>
                            <li class="picItem" style="background-image: url(<{$smarty.const.PATH_IMG}>/6.jpg);"></li>
                            <li class="picItem" style="background-image: url(<{$smarty.const.PATH_IMG}>/7.jpg);"></li>
                            <li class="picItem" style="background-image: url(<{$smarty.const.PATH_IMG}>/8.jpg);"></li>
                            <li class="picItem" style="background-image: url(<{$smarty.const.PATH_IMG}>/9.jpg);"></li>
                        </ul>
                    </div>
                    <p class="card_time">40分钟前</p>
                </article>
            </div>
            <div class="pic_zoom_in">
                <a class="iconfont pic_prev" href="javascript:;">&#xe604;</a>
                <a class="iconfont pic_next" href="javascript:;">&#xe605;</a>
                <img src="<{$smarty.const.PATH_IMG}>/Fairy Tail1.jpg">
            </div>
            <div class="cardHandle">
                <ul class="rowLine clearfix">
                    <li class="on">
                        <a class="row_btn" href="javascript:void(0);">
                            <i class="iconfont">&#xe600;</i>
                            收藏
                            <span class="bubble bubble-add">收藏成功</span>
                            <span class="bubble bubble-sub">取消收藏</span>
                        </a>
                    </li>
                    <li>
                        <a class="row_btn" href="javascript:void(0);"><i class="iconfont">&#xe602;</i> 评论 <i>1</i></a>
                    </li>                                           
                    <li>
                        <a class="row_btn" href="javascript:void(0);"><i class="iconfont">&#xe601;</i> 赞 <i>5</i></a>
                    </li>                                                               
                </ul>
                <ul class="comment_list">
                    <li class="comment_item">
                        <div class="comment_avator"></div>
                        <div class="comment_content">
                            <span class="comment_name">
                                <a href="##">你好杨小米</a>
                                回复
                                <a href="##">@怜逐</a>
                            </span>
                            :
                            <span class="comment_text">做你闺蜜嘛</span>
                            <div class="comment_option">
                                <span class="comment_time">39分钟前</span>
                                <a class="comment_reply" href="javascript:;">回复</a>
                            </div>
                        </div>
                    </li>
                    <li class="comment_item">
                        <div class="comment_avator"></div>
                        <div class="comment_content">
                            <span class="comment_name">
                                <a href="##">你好杨小米</a>
                                回复
                                <a href="##">@怜逐</a>
                            </span>
                            :
                            <span class="comment_text">年轻时你或许并不真正需要闺蜜，年华大好，青春扑面而来，光一个恋爱就够忙活几年。过了30你再看，那些为爱情断了友情的姑娘，守在无涯等待中，哭成一朵雨天的花。爱情让你流下的泪，友情帮你擦干它。真正的姐妹，比恋人更能天长地久。最好的闺蜜，是你的另一个自己—苏岑。</span>
                            <div class="comment_option">
                                <span class="comment_time">39分钟前</span>
                                <a class="comment_reply" href="javascript:;">回复</a>
                            </div>
                            <div class="comment_reply_box clearfix">
                                <textarea placeholder="回复@怜逐" rows="2"></textarea>
                                <a href="javascript:;">评论</a>
                            </div>
                        </div>
                    </li>
                    <li class="comment_item">
                        <div class="comment_avator"></div>
                        <div class="comment_content">
                            <span class="comment_name">
                                <a href="##">你好杨小米</a>
                                回复
                                <a href="##">@怜逐</a>
                            </span>
                            :
                            <span class="comment_text">做你闺蜜嘛</span>
                            <div class="comment_option">
                                <span class="comment_time">39分钟前</span>
                                <a class="comment_reply" href="javascript:;">回复</a>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>   
    </div>
<{/block}>

<{block name=scriptglobal}>
    <script>
        var json_data='<{$list}>';
    </script>
<{/block}>