<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>首页</title>
	<link rel="stylesheet" href="Stylesheets/base.css" />
	<link rel="stylesheet" href="Stylesheets/comm.css" />
</head>
<body class="Main_frame">
	<!-- 主导航 -->
	<div class="blog_header">
		<div class="content clearfix">
			<!-- logo -->
			<a class="logo" href="##"></a>
			<!-- 搜索栏 -->
			<div class="search">
				<input type="text" autocomplete="off" class="w_input" placeholder="大家都在搜：谁日了赵日天">
				<a href="javascript:;" class="icon_search"></a>
			</div>
			<a class="nav_publish" title="发布" href="javasctipt:;"></a>
			<!-- 功能项 -->
			<i class="nav_item" href="">
				binbin
				<ul class="limits_list">
					<li class="limits_item">个人主页</li>
					<li class="limits_item">退出登录</li>
				</ul>
			</i>
			<a class="nav_item on" href="">首页</a>
		</div>
	</div>

	<div class="blog">
		<div class="blog_fb">
			<!-- 内容区 -->
			<div class="blog_main">
				<div class="content">
					<div class="blog_frame_left">
						<div class="left_nav_group">
							<div class="lev_box on">
								<h3 class="lev">
									<a href="#" class="s_txt1">
										<span class="lev_txt">首页</span>
										<i class="W_new"></i>
									</a>
								</h3>
							</div>
							<div class="lev_box">
								<h3 class="lev">
									<a href="#" class="s_txt1">
										<span class="lev_txt">评论</span>
										<i class="W_new"></i>
									</a>
								</h3>
							</div>
							<div class="lev_box">
								<h3 class="lev">
									<a href="#" class="s_txt1">
										<span class="lev_txt">收藏</span>
										<i class="W_new"></i>
									</a>
								</h3>
							</div>
							<div class="lev_box">
								<h3 class="lev">
									<a href="#" class="s_txt1">
										<span class="lev_txt">赞</span>
										<i class="W_new"></i>
									</a>
								</h3>
							</div>																					
						</div>
					</div>

					<div class="blog_frame_center">
						<div class="publisher_top">
							<div class="send_content">
								<div class="input_area">
									<textarea class="inputs" placeholder="此刻，你在想些什么~" rows="4"></textarea>
								</div>
								<div class="func_area clearfix">
									<div class="kinds">
										<div class="publish_pic" style="background-image:url(img/1.jpg)"><a class="publish_delete icon-delete iconfont" href="javascript:;">&#xe603;</a></div>
										<div class="publish_pic" style="background-image:url(img/2.jpg)"><a class="publish_delete icon-delete iconfont" href="javascript:;">&#xe603;</a></div>
										<div class="publish_pic" style="background-image:url(img/3.jpg)"><a class="publish_delete icon-delete iconfont" href="javascript:;">&#xe603;</a></div>
										<div class="publish_pic" style="background-image:url(img/4.jpg)"><a class="publish_delete icon-delete iconfont" href="javascript:;">&#xe603;</a></div>
										<div class="publish_pic" style="background-image:url(img/5.jpg)"><a class="publish_delete icon-delete iconfont" href="javascript:;">&#xe603;</a></div>
										<a class="add_pic" href="javascript:;"></a>
									</div>
									<div class="func">
										<p class="word_limit">还可以输入<span class="word_limit_num">300</span> 字，上传<span class="word_limit_num">1</span>张图片</p>
										<div class="limits">
											<a href="javascript:;" class="limits_btn">
												<span class="limits_txt">公开</span>
												<em class="arrow"></em>
												<ul class="limits_list">
													<li class="limits_item">公开</li>
													<li class="limits_item">不公开</li>
												</ul>
											</a>
										</div>
										<a href="javascript:;" class="publish_btn" title="发布">Mo</a>
									</div>
								</div>
							</div>
						</div>

						<!-- 分享卡片 -->
						<div class="cradWrap">
							<div class="cardContent">
								<dic class="cardIcon"></dic>
								<article  class="cardDetail">
									<p class="card_title">一起来吐槽</p>
									<p class="card_text">真的猛士，敢于直面坚硬的树皮，敢于正视淋漓的鲜血</p>
									<div class="medaiBox">
										<ul class="mediaPics clearfix">
											<li class="picItem" style="background-image: url(img/1.jpg);"></li>
											<li class="picItem" style="background-image: url(img/2.jpg);"></li>
											<li class="picItem" style="background-image: url(img/3.jpg);"></li>
											<li class="picItem" style="background-image: url(img/4.jpg);"></li>
											<li class="picItem" style="background-image: url(img/5.jpg);"></li>
											<li class="picItem" style="background-image: url(img/6.jpg);"></li>
											<li class="picItem" style="background-image: url(img/7.jpg);"></li>
											<li class="picItem" style="background-image: url(img/8.jpg);"></li>
											<li class="picItem" style="background-image: url(img/9.jpg);"></li>
										</ul>
									</div>
									<p class="card_time">40分钟前</p>
								</article>
							</div>
							<div class="pic_zoom_in">
								<a class="iconfont pic_prev" href="javascript:;">&#xe604;</a>
								<a class="iconfont pic_next" href="javascript:;">&#xe605;</a>
								<img src="img/Fairy Tail1.jpg">
							</div>
							<div class="cardHandle">
								<ul class="rowLine clearfix">
									<li class="on">
										<a class="row_btn" href="javascript:void(0);">
											<i class="iconfont">&#xe600;</i>
											收藏
											<span class="bubble bubble-add">收藏成功</span>
											<span class="bubble bubble-sub">取消收藏</span>
										</a>
									</li>
									<li>
										<a class="row_btn" href="javascript:void(0);"><i class="iconfont">&#xe602;</i> 评论 <i>1</i></a>
									</li>											
									<li>
										<a class="row_btn" href="javascript:void(0);"><i class="iconfont">&#xe601;</i> 赞 <i>5</i></a>
									</li>																
								</ul>
								<ul class="comment_list">
									<li class="comment_item">
										<div class="comment_avator"></div>
										<div class="comment_content">
											<span class="comment_name">
												<a href="##">你好杨小米</a>
												回复
												<a href="##">@怜逐</a>
											</span>
											:
											<span class="comment_text">做你闺蜜嘛</span>
											<div class="comment_option">
												<span class="comment_time">39分钟前</span>
												<a class="comment_reply" href="javascript:;">回复</a>
											</div>
										</div>
									</li>
									<li class="comment_item">
										<div class="comment_avator"></div>
										<div class="comment_content">
											<span class="comment_name">
												<a href="##">你好杨小米</a>
												回复
												<a href="##">@怜逐</a>
											</span>
											:
											<span class="comment_text">年轻时你或许并不真正需要闺蜜，年华大好，青春扑面而来，光一个恋爱就够忙活几年。过了30你再看，那些为爱情断了友情的姑娘，守在无涯等待中，哭成一朵雨天的花。爱情让你流下的泪，友情帮你擦干它。真正的姐妹，比恋人更能天长地久。最好的闺蜜，是你的另一个自己—苏岑。</span>
											<div class="comment_option">
												<span class="comment_time">39分钟前</span>
												<a class="comment_reply" href="javascript:;">回复</a>
											</div>
											<div class="comment_reply_box clearfix">
												<textarea placeholder="回复@怜逐" rows="2"></textarea>
												<a href="javascript:;">评论</a>
											</div>
										</div>
									</li>
									<li class="comment_item">
										<div class="comment_avator"></div>
										<div class="comment_content">
											<span class="comment_name">
												<a href="##">你好杨小米</a>
												回复
												<a href="##">@怜逐</a>
											</span>
											:
											<span class="comment_text">做你闺蜜嘛</span>
											<div class="comment_option">
												<span class="comment_time">39分钟前</span>
												<a class="comment_reply" href="javascript:;">回复</a>
											</div>
										</div>
									</li>
								</ul>
							</div>
						</div>
					</div>

					<!-- 个人板块 -->
					<div class="blog_frame_right">
						<div class="card">
							<div class="right_userInfo">
								<div class="skin_cover">
									<div class="user_icon" style="background-image: url(img/4.jpg);"></div>
								</div>
								<div class="user_innerWrap">
									<div class="namebox">Admin</div>
									<ul class="user_atten">
										<li class="s_line1">
											<a href="#">
												<strong>12</strong>
												<span class="s_txt2">关注</span>
											</a>
										</li>
										<li class="s_line1">
											<a href="#">
												<strong>3</strong>
												<span class="s_txt2">分享</span>
											</a>
										</li>								
										<li class="s_line1">
											<a href="#">
												<strong>235</strong>
												<span class="s_txt2">粉丝</span>
											</a>
										</li>							
									</ul>
								</div>
							</div>
						</div>

						<!-- 点赞榜 -->
						<div class="card card_padding">
							<div class="limits time_limits">
								<a href="javascript:;" class="limits_btn">
									<span class="limits_txt">全部</span>
									<em class="arrow"></em>
									<ul class="limits_list">
										<li class="limits_item">全部</li>
										<li class="limits_item">本周</li>
										<li class="limits_item">今日</li>
									</ul>
								</a>
							</div>
							<h2 class="card_title">点赞榜</h2>
							<ul class="praise">
								<li class="praise_item">
									<div class="praise_rank">1</div>
									<div class="praise_num">
										<i class="iconfont">&#xe601;</i>
										<i>65</i>
									</div>
									<div class="praise_name">五行属二</div>
									<div class="praise_txt">最近养了一只猫，叫小狐狸，一个谜样の美少年……</div>
								</li>
								<li class="praise_item">
									<div class="praise_rank">2</div>
									<div class="praise_num">
										<i class="iconfont">&#xe601;</i>
										<i>60</i>
									</div>
									<div class="praise_name">五行属二</div>
									<div class="praise_txt">最近养了一只猫，叫小狐狸，一个谜样の美少年……</div>
								</li>
								<li class="praise_item">
									<div class="praise_rank">3</div>
									<div class="praise_num">
										<i class="iconfont">&#xe601;</i>
										<i>20</i>
									</div>
									<div class="praise_name">五行属二</div>
									<div class="praise_txt">最近养了一只猫，叫小狐狸，一个谜样の美少年……</div>
								</li>
								<li class="praise_item">
									<div class="praise_rank">4</div>
									<div class="praise_num">
										<i class="iconfont">&#xe601;</i>
										<i>6</i>
									</div>
									<div class="praise_name">五行属二</div>
									<div class="praise_txt">最近养了一只猫，叫小狐狸，一个谜样の美少年……</div>
								</li>
								<li class="praise_item">
									<div class="praise_rank">5</div>
									<div class="praise_num">
										<i class="iconfont">&#xe601;</i>
										<i>1</i>
									</div>
									<div class="praise_name">五行属二</div>
									<div class="praise_txt">最近养了一只猫，叫小狐狸，一个谜样の美少年……</div>
								</li>
							</ul>
						</div>
					</div>

				</div>
			</div>
			</div>
		</div>
	</div>
	 <script type="text/javascript" src="Scripts/html5shiv.min.js"></script>
</body>
</html>
