<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>首页</title>
    <link rel="stylesheet" href="Stylesheets/base.css" />
    <link rel="stylesheet" href="Stylesheets/comm.css" />
</head>
<body class="Main_frame">
    <!-- 主导航 -->
    <div class="blog_header">
        <div class="content clearfix">
            <!-- logo -->
            <a class="logo" href="##"></a>
            <!-- 搜索栏 -->
            <div class="search">
                <input type="text" autocomplete="off" class="w_input" placeholder="大家都在搜：谁日了赵日天">
                <a href="javascript:;" class="icon_search"></a>
            </div>
            <a class="nav_publish" title="发布" href="javasctipt:;"></a>
            <!-- 功能项 -->
            <i class="nav_item" href="">
                binbin
                <ul class="limits_list">
                    <li class="limits_item">个人主页</li>
                    <li class="limits_item">退出登录</li>
                </ul>
            </i>
            <a class="nav_item on" href="">首页</a>
        </div>
    </div>

    <div class="blog">
        <div class="blog_fb">
            <!-- 内容区 -->
            <div class="blog_main">
                <div class="content">

                    <!-- slide -->
                    <div class="blog_frame_left">
                        <div class="left_nav_group">
                            <div class="lev_box">
                                <h3 class="lev">
                                    <a href="#" class="s_txt1">
                                        <span class="lev_txt">首页</span>
                                        <i class="W_new"></i>
                                    </a>
                                </h3>
                            </div>
                            <div class="lev_box">
                                <h3 class="lev">
                                    <a href="#" class="s_txt1">
                                        <span class="lev_txt">评论</span>
                                        <i class="W_new"></i>
                                    </a>
                                </h3>
                            </div>
                            <div class="lev_box">
                                <h3 class="lev">
                                    <a href="#" class="s_txt1">
                                        <span class="lev_txt">收藏</span>
                                        <i class="W_new"></i>
                                    </a>
                                </h3>
                            </div>
                            <div class="lev_box on">
                                <h3 class="lev">
                                    <a href="#" class="s_txt1">
                                        <span class="lev_txt">赞</span>
                                        <i class="W_new"></i>
                                    </a>
                                </h3>
                            </div>                                                                                  
                        </div>
                    </div>

                    <div class="blog_frame_center">
                        <!-- header -->
                        <div class="card card-header">
                            <a class="card-header-item" href="javascript:;">收到的赞</a>
                            <a class="card-header-item on" href="javascript:;">发出的赞</a>
                        </div>

                        <!-- 分享卡片 -->
                        <div class="cradWrap card">
                            <div class="cardContent">
                                <dic class="cardIcon"></dic>
                                <article  class="cardDetail">
                                    <p class="card_title"><a href="">ICM_Bins</a></p>
                                    <div class="medaiBox">
                                        <p class="card-box">赞了10加0又叫人渣7友的分享：<a href="">【太棒了，我在#英语单词达人#中超越了我自己，会的单词越来越多，我很快就会成为单词达人了。http://t.cn/zYykJT4 】</a></p>
                                    </div>
                                    <p class="card_time">2013-10-5 10:10</p>
                                </article>
                            </div>
                            <div class="card-self">
                                <a href="javascript:;">取消赞</a>
                            </div>
                        </div>
                    </div>

                    <!-- 个人板块 -->
                    <div class="blog_frame_right">
                        <div class="card">
                            <div class="right_userInfo">
                                <div class="skin_cover">
                                    <div class="user_icon" style="background-image: url(img/4.jpg);"></div>
                                </div>
                                <div class="user_innerWrap">
                                    <div class="namebox">Admin</div>
                                    <ul class="user_atten">
                                        <li class="s_line1">
                                            <a href="#">
                                                <strong>12</strong>
                                                <span class="s_txt2">关注</span>
                                            </a>
                                        </li>
                                        <li class="s_line1">
                                            <a href="#">
                                                <strong>3</strong>
                                                <span class="s_txt2">分享</span>
                                            </a>
                                        </li>                               
                                        <li class="s_line1">
                                            <a href="#">
                                                <strong>235</strong>
                                                <span class="s_txt2">收藏</span>
                                            </a>
                                        </li>                           
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <!-- 点赞榜 -->
                        <div class="card card_padding">
                            <div class="limits time_limits">
                                <a href="javascript:;" class="limits_btn">
                                    <span class="limits_txt">全部</span>
                                    <em class="arrow"></em>
                                    <ul class="limits_list">
                                        <li class="limits_item">全部</li>
                                        <li class="limits_item">本月</li>
                                        <li class="limits_item">本周</li>
                                        <li class="limits_item">今日</li>
                                    </ul>
                                </a>
                            </div>
                            <h2 class="card_title">点赞榜</h2>
                            <ul class="praise">
                                <li class="praise_item">
                                    <div class="praise_rank">1</div>
                                    <div class="praise_num">
                                        <i class="iconfont">&#xe601;</i>
                                        <i>65</i>
                                    </div>
                                    <div class="praise_name">五行属二</div>
                                    <div class="praise_txt">最近养了一只猫，叫小狐狸，一个谜样の美少年……</div>
                                </li>
                                <li class="praise_item">
                                    <div class="praise_rank">2</div>
                                    <div class="praise_num">
                                        <i class="iconfont">&#xe601;</i>
                                        <i>60</i>
                                    </div>
                                    <div class="praise_name">五行属二</div>
                                    <div class="praise_txt">最近养了一只猫，叫小狐狸，一个谜样の美少年……</div>
                                </li>
                                <li class="praise_item">
                                    <div class="praise_rank">3</div>
                                    <div class="praise_num">
                                        <i class="iconfont">&#xe601;</i>
                                        <i>20</i>
                                    </div>
                                    <div class="praise_name">五行属二</div>
                                    <div class="praise_txt">最近养了一只猫，叫小狐狸，一个谜样の美少年……</div>
                                </li>
                                <li class="praise_item">
                                    <div class="praise_rank">4</div>
                                    <div class="praise_num">
                                        <i class="iconfont">&#xe601;</i>
                                        <i>6</i>
                                    </div>
                                    <div class="praise_name">五行属二</div>
                                    <div class="praise_txt">最近养了一只猫，叫小狐狸，一个谜样の美少年……</div>
                                </li>
                                <li class="praise_item">
                                    <div class="praise_rank">5</div>
                                    <div class="praise_num">
                                        <i class="iconfont">&#xe601;</i>
                                        <i>1</i>
                                    </div>
                                    <div class="praise_name">五行属二</div>
                                    <div class="praise_txt">最近养了一只猫，叫小狐狸，一个谜样の美少年……</div>
                                </li>
                            </ul>
                        </div>
                    </div>

                </div>
            </div>
            </div>
        </div>
    </div>
     <script type="text/javascript" src="Scripts/html5shiv.min.js"></script>
</body>
</html>
