<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title><{block name=title}><{/block}></title>
    <{block name=style}><{/block}>
</head>
<body>
    <!-- 主导航 -->
    <div class="blog_header">
        <div class="content clearfix">
            <!-- logo -->
            <a class="logo" href="<{U('Index/index')}>"></a>
            <!-- 搜索栏 -->
            <div class="search">
                <input type="text" autocomplete="off" class="w_input" placeholder="大家都在搜：谁日了赵日天">
                <a href="javascript:;" class="icon_search"></a>
            </div>
            <a class="nav_publish" title="发布" href="javasctipt:;"></a>
            <!-- 功能项 -->
            <i class="nav_item on" href="">
                <{$smarty.session.USERDATA.username}>
                <ul class="limits_list">
                    <li class="limits_item"><a href="<{U('myct/share')}>">个人主页</a></li>
                    <li class="limits_item"><a href="#">我的消息</a></li>
                    <li class="limits_item"><a href="<{U('myct/signout')}>">退出登录</a></li>
                </ul>
            </i>
            <a class="nav_item" href="<{$smarty.const.__APP__}>/Index/index">首页</a>
        </div>
    </div>

    <div class="blog">
        <div class="content">
            <div class="mine">
                <div class="mine_avatar" style="background-image:url(<{$smarty.const.PATH_IMG}>/name0019.jpg)"></div>
                <div class="mine_name"><{$userinfo['username']}></div>
            </div>
            <div class="content-row">
	            <ul class="content-col content-col-1 card mine_nav">
	                <li class="on">
	                    <a href="<{U('myct/focus')}>">我的主页</a>
	                </li>
	                <li>
	                    <a href="<{U('myct/album')}>">我的相册</a>
	                </li>
	            </ul>
            </div>
            <div class="content-row">
            	<div class="content-col content-col-1">
	            	<nav class="card info_nav">
	        			<a class="<{block name=focusActive}><{/block}>" href="<{U('myct/focus')}>">
	        				<span class="info_num"><{$count['focus']}></span>
	        				<span>关注</span>
	        			</a>
	        			<a class="<{block name=fansActive}><{/block}>" href="<{U('myct/fans')}>">
	        				<span class="info_num"><{$count['fans']}></span>
	        				<span>粉丝</span>
	        			</a>
	        			<a class="<{block name=shareActive}><{/block}>" href="<{U('myct/share')}>">
	        				<span class="info_num"><{$count['share']}></span>
	        				<span>分享</span>
	        			</a>
	            	</nav>
                    <div class="card">
                        <div class="card-title">相册</div>
                        <div class="photo_wrap">
                        <{foreach $pics as $imgName}>
                            <div class="photo" style="background-image:url(<{$picPath}><{$userPath}>/<{$imgName}>)"></div>
                        <{/foreach}>
                        </div>
                        <a href="javascript:;" class="card-more">查看更多</a>
                    </div>
            	</div>

            	<{block name=content}><{/block}>
            </div>
        </div>
    </div>

    <{block name=scriptglobal}><{/block}>
    <{block name=script}><{/block}>
</body>
</html>