html, body {overflow: hidden;}
.wpl { width: 100%; max-width: 1080px; margin: 0 auto; }
.log-row-cx {width:92.5925925%; margin:0 3.7037037%;}/*1000/1080,40/1080*/
.log-row {height:80px;width:92.5925925%; margin:0 3.7037037%;}/*1000/1080,40/1080*/
.log-wrap { position: relative; padding: 50px 0 0 0; z-index: 5; }
.log-logo, .log-title, .log-nav { float: left; }
/* 主体 */
.log-content { min-height: 330px; height:auto;position:relative;}
.login-wrap { width: 70%;/*700/1000*/  }

/* ====登陆注册找回密码公用头部==== */
.log-hd { height: 80px; margin-bottom: 20px; position: relative; }
/* logo */
.log-hd .log-logo {width: 100%;text-align: center;}
.log-hd .log-logo a {width:94px;height:74px; display: block; }
.log-hd .log-logo img {width: 76px;max-width: 100%;height: auto;vertical-align: middle;border: 0;}
/* logo 标题/副标题 */
.log-hd .log-title { height: 66px; padding: 7px 0; position: absolute; margin-left: 115px;}
.log-hd .log-title strong, .log-title p { display: block; }
.log-hd .log-title strong { font-size: 26px; }
.log-hd .log-title p { font-size: 16px; }
/* 导航 */
.log-hd .log-nav { display: block; height: 40px; margin: 20px 0 20px 376px;}
.log-hd .log-nav li { float: left;  }
.log-hd .log-nav li a { display: block; padding: 0 11px; font-size: 14px; line-height: 40px; color: #7b8b95; }
.log-hd .log-nav li a:hover { text-decoration: none; color: #369; }
/* ====登陆注册找回密码公用头部 结束 ==== */

/* 输入框图标 */
#password{ position:absolute; z-index:10; background:none;left: 0;}
.mls { margin-left: 30px !important; }
.la_password{color: #b8c4ce;font-size: 16px;position: absolute;padding: 12px 2.5%;top: 0;height: 16px;line-height: 16px;left: 0; z-index:1;}
/* 忘记密码 */
.login-msg { height: 28px; line-height: 28px; margin-top:15px; display: block; font-size: 14px; color: #b8c4ce;}
.login-msg .login-forget { text-decoration: none; color: #369; }
.login-msg .login-forget:hover { color: #3498db; }


/* 登陆注册标题150113 */
.lr_title_txt {height:40px;color:#34495e;}
.lr_title_txt h2{line-height:40px;float:left;font-size:20px;font-weight:normal;}
.lr_title_txt span{font-size:14px;padding-top:12px;float:right;}
.lr_title_txt span a{color:#3498db;}
/* 成功提示 对与错 */
.icon-warn{font-size:20px;color:rgb(226, 16, 30);width:21px;display:block;float:right;text-align:center;line-height:21px;}
.icon-ok{font-size:20px;color: #1abc9c;width:21px;display:block;float:right;text-align:center;line-height:21px;}
.spanTip{color:rgb(226, 16, 30);font-size:12px;}

.login_left .log-input{width: 350px;}
.login_left{width:400px;float:left;padding-top:35px;padding-bottom:80px;margin-left: 115px;}
.reg_left{width: 400px;padding-top: 15px;padding-bottom: 80px;margin: 0 auto 28px;}
.reg_left .icon-warn{position:absolute;bottom:5px;right:0;}
.reg_left .icon-ok{position:absolute;bottom:5px;right:0;}
.reg_left .spanTip{position:absolute;right:0;bottom:-22px;}
/* ICON 字体大小 */
.reg_cont_input i.iconfont{margin-left:5px;font-size:24px;position: absolute;top: 8px;}
.reg_cont_input .log-input{width: 350px;}
.reg_cont_input .lang-btn{width:100%;opacity: .9;font-size:18px;height:50px;line-height:50px;}

/* 登陆或注册验证错误 */
.user-input-er-span{color:#b8c4ce;position:absolute;top:1px;right:1px;line-height:38px;height:38px;display:block;padding-right:35px;padding-left:8px;font-size:14px;background:#FFF}
.user-input-er-span b{line-height:40px;}
.user-input-er-span i:before{content:"\e606";position:absolute;top:0;right:0;height:38px;width:35px;display:block;font-size:20px;color:#fcab2b;
line-height:38px;text-align:center}
/* 验证正确 */
.user-input-ri-span i:before{content:"\e600";position:absolute;top:1px;right:1px;line-height:38px;height:48px;display:block;width:35px;font-size:20px;
color:#1abc9c;line-height:38px;text-align:center}

.login-on .log-i{color:#3498db;}
/*字体图标附加样式*/
.log-i{ position: absolute; top: 8px; }
.mls { margin-left: 30px !important; }
.la_password{color: #b8c4ce;font-size: 16px;position: absolute;padding: 12px 2.5%;top: 0;height: 16px;line-height: 16px;left: 0; z-index:1;}


/* 页脚 */
.log-footer { color: #b8c4cc; font-size: 14px; height: 30px; line-height: 30px; margin-top: 10px; }
.log-footer p{display: inline-block;float: left;}

/* 云朵 */
.log-cloud-1 {-webkit-animation: floatToRight 30s infinite; width: 155px; height: 88px; top: 50px; position: absolute; left: 3.9285714%; z-index: 0; }
.log-cloud-2 {-webkit-animation: floatToRight 25s infinite; width: 74px; height: 40px; top: 15px; position: absolute; left: 17.8571428%;  z-index: 0; }
.log-cloud-3 {-webkit-animation: floatToRight 30s infinite; width: 155px; height: 88px; top: 160px; position: absolute; right: 9.2857142%;  z-index: 0; }
.log-cloud-4 {-webkit-animation: floatToRight 25s infinite; width: 74px; height: 40px; top: 300px; position: absolute; right: 3.5714285%;  z-index: 0; }
.log-cloud-1 i, .log-cloud-3 i{ font-size: 160px; line-height: 85px; color: #fff; }
.log-cloud-2 i, .log-cloud-4 i{ font-size: 80px; line-height: 30px; color: #fff; }

/*云朵动画*/
@-webkit-keyframes floatToRight{
    0%{-webkit-transform:translate(0,0); }
    50%{-webkit-transform:translate(100px,0); }
    10%{-webkit-transform:translate(0px,0); }

}
/*当浏览器的可视区域小于960px*/
@media screen and (max-width: 960px) {
.log-nav { display: none; } 
.log-cartoon,.log-shade{display: none;}
.login-wrap{width: 100%}
.login-wrap-party{margin-right: 0;}
/*.fg-code-pic{width: 13%;}*/
.fg-msg{ width: 90%;}
}


